@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;400;900&display=swap');

body {
  font-family: 'Inter', sans-serif;
  min-height: 100dvh;
  background-image: linear-gradient(to right top, #2f4858, #2c5162, #265a6b, #1e6373, #136d7a, #06767e, #007e81, #008783, #009083, #0b9980, #24a27b, #3aaa74);
}

.container {
  margin: 0 auto;

  @media screen and (min-width: 320px) {
    width: 320px;
  }
  @media screen and (min-width: 768px) {
    width: 768px;
  }
  @media screen and (min-width: 1200px) {
    width: 1200px;
  }
}