.main {
  margin: 0;
}

.ceo {
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
  background-image: url("/ceo.png"), url("/whitebg.png");
  background-size: contain, contain;
  background-repeat: no-repeat;
  background-position: center right, bottom center;
  border-radius: 5px;
  height: 550px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: x-large;
}

.herotext {
  text-align: center;
  background: -webkit-linear-gradient(#00689e, #2f4858);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  transform: translateX(-10%);
}

.flexcontainer {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-wrap: wrap;
  margin-bottom: 3rem;
}

.section2 {
  margin: 3rem 0;
}

.h2 {
  text-align: center;
  color: azure;
}

.linktores {
  display: inline-block;
  text-decoration: none;
  text-align: center;
  font-size: x-large;
  color: azure;
  transition: all ease-in-out 200ms;
}

.linktores:hover,
.linktores:focus {
  transform: scale(1.03);
}

.fishclub {
  width: 300px;
  height: auto;
}

.fishteam {
  width: 300px;
  height: auto;
}

.section3 {
  margin: 0;
  text-align: center;
  color: azure;
}

.newestcontainer {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.newest {
  width: 300px;
  height: auto;
  border-radius: 5px;
  box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px,
    rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
}

.section4 {
  margin: 0;
  text-align: center;
  color: azure;
}

.oursocials {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.sociallink {
  color: azure;
  text-decoration: none;
  transition: all 200ms ease-in-out;
}

.sociallink:hover,
.sociallink:focus > .sociallink + .socialpic {
  color: #00c4f3;
  text-decoration: none;
}

.socialpic {
  width: 100px;
  height: auto;
  color: inherit;
}
